$basicColor: lightgrey;
$submitActiveColor: rgb(147, 187, 216);
$submitColor: #555;
$borderColor: #ccc;
$errorFontColor: rgb(255, 0, 0);
$validFontColor: blue;
$backgroundColorError: pink;
$backgroundColorValid: lightgreen;
